@model FICompliance.BOL.Database.tblUser

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/LoginTheme/fonts/.DS_Store">
    <link rel="stylesheet" href="~/LoginTheme/css/style.css">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-user-o"></span>
                        </div>
                        <h3 class="text-center mb-4">Have an account?</h3>
                        <form id="loginForm" action="@Url.Action("LogIn", "Login")" method="post">
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.HiddenFor(model => model.RoleID)
                                @Html.LabelFor(model => model.UserName)
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control rounded-left", id = "username", placeholder="Username" })
                                <div id="usernameError" class="text-danger"></div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Password)
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control rounded-left", id = "password" , placeholder="Password" })
                                <div id="passwordError" class="text-danger"></div>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <label class="checkbox-wrap checkbox-primary">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="btnlogin" class="btn btn-primary rounded submit p-3 px-5">Log in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (e) {
                e.preventDefault();

                var username = $('#username').val();
                var password = $('#password').val();

                if (username === '') {
                    $('#usernameError').text('Username is required.');
                    return;
                } else {
                    $('#usernameError').text('');
                }

                if (password === '') {
                    $('#passwordError').text('Password is required.');
                    return;
                } else {
                    $('#passwordError').text('');
                }

                $.ajax({
                    url: $('#loginForm').attr('action'),
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            window.location.href = '/Home/Index';
                        } else {
                            alert("Sorry!! You are not approved")
                        }
                    }
                });
            });

            $('#username, #password').on('input', function () {
                $('#usernameError').text('');
                $('#passwordError').text('');
            });
        });
    </script>
</body>
</html>
